# **(First Choice)**
# **Project 2 Part 1 of Stroke Predictions**
- **Steven Phillips**
- October 28, 2022

The goal of this project will be to use the data set and create a best model for predicting the presence of stroke in patients.

## **Import Libraries, Load, Copy and Explore Data**

In [1]:
#import the pandas and numpy library
import pandas as pd
import numpy as np

In [2]:
#mount data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#Load the data for Stroke Prediction Data Set csv file as a data frame, copy the data frame and present the first five rows
filename = '/content/healthcare-dataset-stroke-data.csv'
df = pd.read_csv(filename)
df_ml = df.copy()
df_ml.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

## **Questions for Part 1 of Project 2**

1. Source of Data
2. Brief description of data
3. What is the target?
4. What does one row represent?
5. Is this a regression or classification problem?
6. How many features does the data have?
7. How many rows in the data set?
8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

### **1. Source of data**

1. The source of this data is the Kaggle website and here is the link:

https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

### **2. Brief description of data**

"This dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status. Each row in the data provides relavant information about the patient." 

Source: https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

### **3. What is the target?**

The target for this data set will be the 'stroke' feature.  Specifically, whether or not each patient had a stroke.

### **4. What does one row represent?**

Each row represents a patient from the study.

### **5. Is this a regression or a classification problem?**

The model will predict the stroke feature, which is a binary classification problem, 'stroke' or 'no stroke'.

### **6. How many features does the data have?**

The data comes with 12 features, as seen in the first five rows of the data frame above.  However, the first feature, essentially the patient id, will not be used in modeling.  So there will be 10 features, including a mix of categorical and numerical, to choose from and one target feature.

### **7. How many rows in the data set?**

There are 5,110 observations or rows.

In [7]:
# shape of the data  (rows, columns)
df_ml.shape

(5110, 12)

### **8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?**

There are a few issues that present challenges.  Choosing the best classification model will be a challenge.  Initially, cleaning the data set will have issues including dealing with missing entries from the bmi feature and checking the naming is consistent for the object data type features.

In [6]:
# missing data by feature
df_ml.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

## **Data Cleaning**

## **Exploratory Visuals**

## **Explanatory Visuals**

## **Models, Prediction and Analysis**