# (Second Choice)
# **Project 2 Part 1 of Heart Failure Predictions**
- **Steven Phillips**
- October 28, 2022

The goal of this project will be to use the data set and create a best model for predicting the presence of heart disease in patients.

## **Import Libraries, Load, Copy and Explore Data**

In [2]:
#import the pandas and numpy library
import pandas as pd
import numpy as np

In [3]:
#mount data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#Load the data for Heart Disease Data Set csv file as a data frame, copy the data frame and present the first five rows
filename = '/content/heart.csv'
df = pd.read_csv(filename)
df_ml = df.copy()
df_ml.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

## **Questions for Part 1 of Project 2**

1. Source of Data
2. Brief description of data
3. What is the target?
4. What does one row represent?
5. Is this a regression or classification problem?
6. How many features does the data have?
7. How many rows in the data set?
8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?

### **1. Source of data**

1. The source of this data is the Kaggle website and here is the link:

https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

The data set provided by the author is a compilation of data from these Creators:

Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D.
University Hospital, Zurich, Switzerland: William Steinbrunn, M.D.
University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D.
V.A. Medical Center, Long Beach and Cleveland Clinic Foundation: Robert Detrano, M.D., Ph.D.

### **2. Brief description of data**

"Heart failure is a common event caused by Cardiovascular Diseases (CVDs) and this dataset contains 11 features that can be used to predict a possible heart disease.

People with cardiovascular disease or who are at high cardiovascular risk (due to the presence of one or more risk factors such as hypertension, diabetes, hyperlipidaemia or already established disease) need early detection and management wherein a machine learning model can be of great help." 

Source: https://www.kaggle.com/datasets/fedesoriano/heart-failure-prediction

### **3. What is the target?**

The target for this data set will be the 'HeartDisease' feature.  Specifically, whether or not each patient has heart disease.

### **4. What does one row represent?**

Each row represents a patient from the study.

### **5. Is this a regression or a classification problem?**

The model will predict the presence of heart disease, which is a binary classification problem, 'heart disease' or 'no heart disease'.

### **6. How many features does the data have?**

The data comes with 12 features, as seen in the first five rows of the data frame above. There will be 11 features, including a mix of categorical and numerical, to predict from and one target feature.

### **7. How many rows in the data set?**

There are 918 observations or rows.

In [6]:
# shape of the data  (rows, columns)
df_ml.shape

(918, 12)

### **8. What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?**

There are a few issues that present challenges.  Choosing the best classification model will be a challenge.  Initially, cleaning the data set will have issues including  checking the naming is consistent for the object data type features. Also, exploring the data set to provide good visuals will be challenging.

In [7]:
# missing data by feature
df_ml.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

## **Data Cleaning**

## **Exploratory Visuals**

## **Explanatory Visuals**

## **Models, Prediction and Analysis**